@font-face {
  font-family: 'Cerebri Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/CerebriSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Cerebri Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/CerebriSans-Medium.woff') format('woff');
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "Cerebri Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#app {
  height: 100%;
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

.dg-header {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.6);
  position: relative;
}

.dg-header--image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.dg-nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.dg-logo {
  width: 100px;
}

.dg-logo .image-slot {
  color: #FF9D00;
  font-size: 2rem;
  font-weight: 500;
}

.dg-header--content {
  width: 50%;
}

.dg-header--content .search {
  width: 100%;
  height: 50px;
  display: flex;
}

.el-select {
  width: 90%;
  height: 100%;
}

.el-select .el-input--suffix,
.el-select .el-input__inner {
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dg-header--content > div .el-button{
  width: 10%;
  height: 100%;
}

.dg-header--content h1 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 15px;
}

.dg-header--content p {
  font-size: 0.9rem;
  color: #ebeef5;
}

.dg-header--content p span {
  font-weight: 500;
  color: #fff;
}

.dg-body {
  background: #fff;
  padding: 30px 60px;
}

.dg-body h3 {
  font-weight: 500;
}

.dg-masonry--container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.dg-masonry--container > div {
  padding: 0 10px;
}

.dg-image {
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.dg-image a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.dg-image .overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  box-sizing: border-box;
  margin-bottom: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  background: rgba(0,0,0,0.4);
}

.dg-image:hover .overlay {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.dg-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back-to-top {
  height: 40px;
  width: 40px;
  right: 30px;
  bottom: 50px;
  position: fixed;
  border-radius: 100px;
  background-color: #f2f5f6;
  box-shadow: 0 0 6px rgba(0,0,0, .12);
  text-align: center;
  line-height: 40px;
  color: #FF9D00;
}

.dg-about {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.dg-about > div {
  min-height: 100%;
}

.dg-logo--two {
  background: #fff;
  width: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.go-back {
  height: 40px;
  width: 40px;
  border: 1px solid #30443C;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #30443C;
  transition: background 0.2s ease-out;
  cursor: pointer;
}

.go-back:hover {
  background: #FF9D00;
  border: 1px solid #FF9D00;
  color: #fff;
  transition: all 0.2s ease-in;
}


.dg-about--dog {
  background: #faf8fc;
  width: 88%;
}

.dg-about--dog__title {
  height: 400px;
  width: 100%;
  display: flex;
}

.dg-about--dog__title .dg-about--dog__image {
  height: 100%;
  width: 60%;
}

.dg-about--dog__title .dg-about--dog__image .el-image {
  height: 100%;
  width: 100%;
}

.dg-about--dog__title .dg-about--dog__name {
  height: 100%;
  width: 40%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dg-about--dog__content {
  padding: 10px 20px;
}

.dg-about--dog__title .dg-about--dog__name h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}

.dg-header.search-result {
  height: 100px;
  margin-bottom: 30px;
}

.dg-header.search-result .search {
  height: 40px;
  display: flex;
}

.search-result .dg-nav {
  background: #000;
}
.search-result--input {
  width: 400px
}

.search-result--input .el-input-group__append {
  background: #FF9D00;
  color: #fff;
}

.show-more {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
