@media only screen and (max-width: 1024px) {
  .dg-header {
    height: 60vh;
  }
  .dg-header--content {
    width: 70%;
  }
  .dg-about {
    flex-direction: column;
  }
  .dg-logo--two {
    flex-direction: row;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
  }
  .dg-about--dog {
    width: 100%;
  }
  .dg-about--dog__title {
    flex-direction: column;
    height: auto;
  }
  .dg-about--dog__title .dg-about--dog__image .el-carousel__container {
    height: 500px !important;
  }
  .dg-about--dog__title .dg-about--dog__image,
  .dg-about--dog__title .dg-about--dog__name {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 600px){
  html, body {
    font-size: 16px;
  }
  .dg-header {
    height: 70vh;
    padding: 20px;
  }
  .dg-nav, .dg-body {
    padding: 30px;
  }
  .dg-header--content {
    width: 100%;
  }
  .dg-about--dog__title .dg-about--dog__image .el-carousel__container {
    height: 300px !important;
  }
}
